body {
  font-family: 'Courier New', Courier, monospace;
}
th {
  background: gray;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: x-large;
  font-weight: bolder;
  color: #fff;
}

td {
  background: pink;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: x-large;
  font-weight: bolder;
}